@model IEnumerable<User> 

@{
    Layout = "_Layout";
}

@section Css{
    
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
}


@await Html.PartialAsync("_navbar2")
<div class="container my-4">
<div class="row">
    <div class="col-md-12">
        <h1>Kullanıcı Listesi</h1>
       <partial name="_messages" model="@(TempData.Get<AlertMessage>("message"))" />
        
        <hr>
        <div class="table-responsive">
        <table class="table" id="myTable" data-page-length="10">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Ad</th>
                    <th scope="col">Soyad</th>
                    <th scope="col">Kullanıcı Adı</th>
                    <th scope="col">Email</th>
                    <th scope="col">Email Onayı</th>
                    <th scope="col">İşlemler</th>
                    
                    
                    
                </tr>
            </thead>
            <tbody>
                
                @if (Model!=null && Model.Count()>0)
                {

                    @foreach (var item in Model)
                    {
                        
                        <tr class="@(item.EmailConfirmed?"":"bg-warning")">
                            <th>
                                @item.FirstName
                            </th>
                            <td>
                                @item.LastName
                            </td>
                            <td>
                                @item.UserName
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                @(item.EmailConfirmed?"Onaylandı":"Onaylanmadı")
                            </td>
                            <td>
                                <a href="/admin/user/@item.Id" class="btn btn-primary">Kullanıcı bilgilerini değiştir.</a>
                                
                                <form action="/admin/DeleteUser" class="form-inline" method="POST" style="display: inline;">
                                <input type="hidden" name="Id" value="@item.Id">
                                <button type="submit" class="btn btn-danger"> Kullanıcıyı Sil</button>
                                </form>

                            </td>
                        </tr>
                    }
                }
                @if (Model.Count()==0 || Model==null)
                {
                    <tr>
                        <td class="alert alert-warning">
                            Kullanıcı Yok
                        </td>
                    </tr>
                }
                
            </tbody>
            
        </table>
        </div>
    </div>
</div>
</div>

@section Scripts{
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/data.js"></script>
    
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable({
                "language":{
                    "url":"//cdn.datatables.net/plug-ins/1.10.22/i18n/Turkish.json"
                }
            });

            

            
            } );
    </script>
}